.city-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    border: grey solid 1px;
    border-radius: 10px;
    padding: 10px;
    height: 180px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.city-item img{
    width: 150px;
    margin-bottom: 10px;
}
.city-item button{
    background-color: #00000099 ;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
}
